body
{
  background-color: wheat;
}
li
{
  list-style-type: none;
  margin-left: 1vw;
  display: inline;
  
}

li:first-child
{
  margin:0;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.content
{
  height: 50vh;
  background-color: lightgray;
}

.container
{
  background-color: beige;
}

.copyright  
{
  float: left;
  margin-left: 1%;
}
.impressum
{
  float: right;
  line-height: 20%;
  margin: 1%;
}

.logo
{
  height: 2vh;
}

@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  
  .sozial
  {
    margin-bottom: 1vh;
  }
}