body {
	margin: 0;
	padding:0;
	background: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
}
main{
  background-color:white;
  padding: 10px;
  height: 200px;
}
img{
  padding: 10px;
  height: 200px;
}

/*Navigation*/
nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul{
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0;
	margin: 0;
} 
nav > li{
	width: 20%;
	border-right: 1px solid black;
	height: 50px;
	line-height: 50px;
	font-size: 140%;
	display: inline-block;
	margin-right: -4px;
}

nav li .last-child{
	border-right: none;
}
nav li li {
	border-right: none;
}

nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding-left: 15px;
	transition: .5s background-color;
}

nav a:hover{
	background-color: #005f5f;
}
nav a.active {
	background-color: #aaa;
	color: #444;
	cursor: default;
}

nav a{
	display: inline-block;
	line-height: 50 px;
	height: 60px;
	color:#FFFFFF;
	background-color: 
	text-decoration none;
	margin: 1% 5% 1% 0;
	padding: 1% 5%;
	border-radius: 25px;
}
.current{
	background-color: #800000;
}

/*Sub Menus*/
nav li li {
	font-size: .8em;
}

nav > ul > li {
	text-align: center;
}

nav > ul > li > a{
	padding-left: 0;
}

/*Sub Menus */
nav li ul {
	position: absolute;
	display: none;
	width: inherit;
}

nav li:hover ul {
	display: block;
}

nav li ul li {
	display: block;
}

.content-box{
	box-sizing: content-box;
	  width: 80%;
	padding: 50px;
  }

  /*Table*/
  #Betriebe {
	  font-family: Arial, Helvetica, sans-serif;
	  border: solid;
	  border-collapse: collapse;
	  width: 80%;
	}
	
	#customers td, #Betriebe th {
	  border: 1px  #000000;
	  padding: 8px;
	}
	#Betriebe tr:nth-child(even){background-color: #f2f2f2;
	}

	#Betriebe tr:hover {
	  background-color: #ddd;
  }
   #Betriebe th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #d52b1e;
	  color: white;
	}
  /* Screens Settings */
  
  #screen1 {
	  background: white;
	padding-top: 10px;
  }
  
  @media only screen and (max-width: 520px) {
	  nav li {
		  padding: 24px 4px;
	  }
  
	  nav li a {
		  font-size: 14px;
	  }
  
  }  
  
